<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>-->
    <!-- data-external-page="true" data-role="page" data-url="/views/GeoView.html"-->
        <!-- style="background-color:yellow;min-height:200px; -->
    <div "id="pageGeoView" > 
       <!--<div class="ui-field-contain">
            <input type="checkbox" name="highacc" id="highacc" class="custom">
            <label for="highacc">High Accuracy</label>
        </div>-->
        <div class="ui-field-contain">
            <fieldset data-role="controlgroup">
                <legend>Accuracy:</legend>
                <input type="checkbox" name="hacc" id="hacc"  checked>
                <label for="hacc">High</label>
            </fieldset>
        </div>
        <div class="ui-field-contain">
			<label for="timeout">Timeout:</label>
			<input type="number" name="timeout" pattern="[0-9]" id="timeout" value="3000" placeholder="Timeout value for getting current position">                			     
		</div>

    </div>
<!--</body>
</html>-->


